.App {
  text-align: center;
}
.tache{
  background-color: bisque;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.barre{
  text-decoration: line-through;
  color : blue;
}
.suppr{
  background-color: #282c34;
  }